html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #ffffff;
  color: #999999;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Roboto", "Arial", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

/* Header */

.page-header {
  padding-bottom: 228px;
  background-image: linear-gradient( to bottom,rgba(243, 129, 129, 0.9),rgba(252, 227, 138, 0.9)), url("../img/Layer-15.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.page-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 92px;
  margin-bottom: 170px;
}

.site-navigation,
.site-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-navigation {
  width: 492px;
  margin-left: auto;
  margin-right: 50px;
}

.site-icons {
  width: 90px;
}

.site-icons__svg {
  width: 18px;
  height: 18px;
  display: inline-block;
  fill: #ffffff;
}

.site-navigation__link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  font-family: "Montserrat", "Arial", sans-serif;
  color: #ffffff;
}

.site-icons__link {
  display: block;
  text-decoration: none;
}

.site-navigation__link::after,
.site-icons__link::after {
  content: "";
  display: block;
  margin: 0 auto;
  height: 4px;
  background-color: #fce38a;
  margin-top: 10px;
  transform: scaleX(0);
  transition: transform 200ms ease-in-out;
}

.site-navigation__link:hover,
.site-navigation__link:focus {
  color: #fce38a;
}

.site-icons__link:hover,
.site-icons__link:focus {
  color: #fce38a;
}

.site-navigation__link:hover::after,
.site-navigation__link:focus::after {
  transform: scaleX(1);
}

.site-icons__link:hover::after,
.site-icons__link:focus::after {
  transform: scaleX(1);
}

/* Section hero */

.hero {
  text-align: center;
  color: #ffffff;
}

.hero__title {
  font-family: "Kaushan Script", cursive;
  font-size: 72px;
  font-weight: 400;
  line-height: 86px;
  margin: 0;
  margin-bottom: 42px;
}

.hero__subtitle {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
  font-size: 150px;
  line-height: 180px;
  text-transform: uppercase;
  white-space: pre-wrap;
  width: 820px;
  margin: 0 auto;
  margin-bottom: 110px;
}

.hero__button {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  padding: 10px 28px;
  width: 158px;
  border: 3px solid #ffffff;
}

/* Section Services */

.services-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 44px;
  padding-bottom: 64px;
}

.services-header__subtitle {
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  color: #333333;
  margin: 0;
  margin-bottom: 18px;
}

.services-header__title {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #333333;
  text-transform: uppercase;
  margin: 0;
}

.services-header__title::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 60px;
  height: 4px;
  background-color: #f38181;
  margin-top: 38px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-bottom: 86px;
  list-style: none;
}

.services-list__item {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc(33.333% - 20px);
  margin-bottom: 96px;
  position: relative;
  padding-left: 82px;
}

.services-list__title {
  margin: 0;
  margin-bottom: 14px;
  text-transform: uppercase;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #333333;
}

.services-list__subtitle {
  margin: 0;
}

.services-list__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.services-list__item::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 25px;
  top: 0px;
}

.services-list__item--alarm::before {
  background-image: url(../img/ALARM.png);
}

.services-list__item--line::before {
  background-image: url(../img/LINEGRAPH.png);
}

.services-list__item--computer::before {
  background-image: url(../img/COMPUTER.png);
}

.services-list__item--book::before {
  background-image: url(../img/BOOK.png);
}

.services-list__item--home::before {
  background-image: url(../img/HOME.png);
}

.services-list__item--image::before {
  background-image: url(../img/IMAGE.png);
}


/* Media */

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .page-header {
    background-image: linear-gradient(
        to bottom,
        rgba(243, 129, 129, 0.9),
        rgba(252, 227, 138, 0.9)
      ),
      url("../img/Layer-15@2x.jpg");
  }

  .services-list__item--alarm::before {
    background-image: url(../img/ALARM@2x.png);
  }
  
  .services-list__item--line::before {
    background-image: url(../img/LINEGRAPH@2x.png);
  }
  
  .services-list__item--computer::before {
    background-image: url(../img/COMPUTER@2x.png);
  }
  
  .services-list__item--book::before {
    background-image: url(../img/BOOK@2x.png);
  }
  
  .services-list__item--home::before {
    background-image: url(../img/HOME@2x.png);
  }
  
  .services-list__item--image::before {
    background-image: url(../img/IMAGE@2x.png);
  }
}
